---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.hero-image {
				width: 51rem;
				height: 25.5rem;
			}
			.hero-image img {
				display: block;
				border-radius: 12px;
			}
			.prose {
				width: 816px;
				max-width: calc(100% - 2em);
				margin: auto;
				color: rgb(var(--gray-dark));
			}
			.title {
				margin-bottom: 1em;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
				font-weight: 550;
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head>

	<body>
		<main class="w-full min-h-screen">
			<article>
				<div class="h-12 relative w-[44rem] mx-auto">
					<a
						href="/"
						class="text-lg inline-flex items-center font-bold
						text-accent hover:text-accent-dark hover:underline
						font-[Manrope]"
					>
						<svg
							class="icon arrow-small-left-icon w-6 h-6"
							viewBox="0 0 20 20"
							fill="currentcolor"
							><path
								fill-rule="evenodd"
								d="M15 10a.75.75.0 01-.75.75H7.612l2.158 1.96a.75.75.0 11-1.04 1.08l-3.5-3.25a.75.75.0 010-1.08l3.5-3.25a.75.75.0 111.04 1.08L7.612 9.25h6.638A.75.75.0 0115 10z"
								clip-rule="evenodd"></path></svg
						>
						<span>Back</span>
					</a>
				</div>
				<div class="prose">
					<div class="title px-16">
						<div class="date">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on{" "}
										<FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<h1 class="text-3xl md:text-5xl">
							{title}
						</h1>
					</div>
					<div class="hero-image my-8">
						{
							heroImage && (
								<img
									width={816}
									height={408}
									src={heroImage}
									alt=""
								/>
							)
						}
					</div>
					<div class="px-16 py-4">
						<slot />
					</div>
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
